/*---------------------------> Inicio <--------------------------------*/
/* Fuente Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Botón principal del widget */
:root {
  --primaryColor: #1e67e7;
  --secondaryColor: #74c5f2;
  --reverseColor: #5d04d8;
  --textColor: #1b1f31;
  --colorRotate: 90deg;
}

#my-widget * {
  font-family: "Nunito", sans-serif;
}

#accessibility-button {
  position: fixed;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  cursor: pointer;
  padding: 0;
  z-index: 9998;
}

#accessibility-button.top-left {
  top: 18px;
  left: 20px;
}

#accessibility-button.top-center {
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}

#accessibility-button.top-right {
  top: 18px;
  right: 20px;
}

#accessibility-button.center-right {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#accessibility-button.center-left {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

#accessibility-button.bottom-left {
  bottom: 18px;
  left: 20px;
}

#accessibility-button.bottom-center {
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

#accessibility-button.bottom-right {
  bottom: 18px;
  right: 20px;
}

.hit-the-floor {
  color: #fff;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
}

.hit-the-floor {
  text-align: center;
}

#my-widget .hidden {
  display: none !important;
}

/* Menú de accesibilidad */
#accessibility-menu {
  position: fixed;
  top: 10px;
  z-index: 9999;
  /* width: min(100%, max(25%, 500px)); */
  width: 500px;
  max-width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* background: #fff; */
  overflow: hidden;
  backdrop-filter: blur(5px);
  border: 1px solid #ffffff1a;
  background: #e1eaf869;
  box-shadow: 0px 0px 20px 10px #00000059;
  font-size: 1em;
}

#accessibility-menu.left {
  left: 10px;
}

#accessibility-menu.center {
  right: 50%;
  transform: translateX(50%);
}

#accessibility-menu.right {
  right: 10px;
}

#accessibility-main-menu {
  padding: 10px;
  height: 100%;
  font-size: 1em;
  box-sizing: border-box;
}

.toggle-button.active {
  background-color: #a7e4fc !important; /* Color cuando está activo */
  color: black !important;
  border: 2px solid #6ea8ff !important;
}

#accessibility-menu button:hover {
  /* background-color: #04c4d9; */
}

/* Botón de cierre del menú */
.close-btn {
  color: rgb(26, 57, 197);
}

.close-btn:hover {
  background-color: #c9c5c5;
}

/* Barra de lectura */
.reading-bar {
  position: fixed;
  width: 500px;
  height: 8px;
  background: rgba(0, 0, 0, 0.959);
  pointer-events: none;
  z-index: 9999;

  .reading-bar {
    width: 845.95px;
    height: 25.38px;
    top: 74.38px;
    border-radius: 20px;
    border: 0.5px solid #1e67e7;
    background: linear-gradient(135deg, #1e67e7 0%, rgb(30, 104, 231) 100%);
    box-shadow: 4px 2px 8px 0px rgb(95, 156, 231);
    position: relative;
  }
}

/* Detener animaciones */
.none-animation * :not(#my-widget):not(#my-widget *) {
  animation: none !important;
  transition: none !important;
  opacity: 1 !important;
}

/* Subrayar enlaces */

/*{barra para apoyo de lectura  }*/

.center-element {
  position: absolute;
  font-size: 38px;
  color: rgba(0, 0, 0, 0.699);
  pointer-events: none;
  z-index: 10000;
  top: -20px;
}

.highlight {
  background-color: rgb(26, 26, 21);
  color: rgb(208, 255, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Scroll personalizado */
.accessibility-custom-scroll::-webkit-scrollbar {
  width: 7px;
  padding: 20px 0;
}
.accessibility-custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.accessibility-custom-scroll::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}
.accessibility-custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor, 50%);
}
